<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.zhaoshouren.android.wallpaper"
      android:versionCode="1"
      android:versionName="1.0" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="7" />
	<uses-feature android:name="android.software.live_wallpaper" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<application
        android:label="@string/wallpaperTitle"
        android:icon="@drawable/icon" android:debuggable="true" android:vmSafeMode="true">
        <service
            android:label="@string/wallpaperTitle"
            android:name=".ZhaoShourenWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/wallpaper" />
        </service>
        <activity
            android:label="@string/settings"
            android:name=".ZhaoShourenWallpaperSettings"
            android:theme="@android:style/Theme.Light.WallpaperSettings"
            android:exported="true">
        </activity>
    </application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>


<uses-permission android:name="android.permission.BATTERY_STATS"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
</manifest> 